h2 {
    padding: 20px;
    font-weight: bold;
    text-align: center;
}

.nav a {
    padding: 15px;
    margin: 2px;
    background: rgba(235, 235, 235, 0.3);
}

.nav a:hover {
    background: rgba(235, 235, 235, 0.7);
    text-decoration: line-through;
}

.active {
    background: rgba(235, 235, 235, 0.7);
    text-decoration: line-through;
}

.container {
    margin-top: 40px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
    /* background: rgba(0, 0, 0, 0.5); */
}