<div class="container">
  <h2>Angular</h2>
  <div class="nav">
    <a routerLinkActive="active" routerLink="/home">Home</a>
    <a routerLinkActive="active" routerLink="/search-select">Search Select</a>
    <a routerLinkActive="active" routerLink="/reactive-forms">Reactive Forms</a>
    <a routerLinkActive="active" routerLink="/template-forms">Template Forms</a>
    <a routerLinkActive="active" routerLink="/guards">Guards</a>
    <a routerLinkActive="active" routerLink="/ui">UI</a>
  </div>
  <hr>
  <div class="section">
    <router-outlet></router-outlet>
  </div>
</div>