.box {
    background: rgb(97, 122, 202); // border: 1px solid rgb(20, 20, 104);
    height: 100px; // width: 100px;
    margin: 5px;
}

// .flex-container {
//     display: flex;
// }
.glass-brown {
    background: rgba(133, 69, 9, 0.7);
    height: 300px;
    padding: 10px;
}