<div fxLayout="row" style="border: 1px solid rgb(61, 61, 61);" fxLayoutWrap="wrap">
  <div fxFlex="20" class="box" fxFlex>1</div>
  <div fxFlex="20" class="box" fxFlex>2</div>
  <div fxFlex="20" class="box" fxFlex>3</div>
  <div fxFlex="20" class="box" fxFlex>4</div>
  <div fxFlex="20" class="box" fxFlex>5</div>
  <div fxFlex="20" class="box" fxFlex>6</div>
  <div fxFlex="20" class="box" fxFlex>7</div>
  <div fxFlex="20" class="box" fxFlex>8</div>
  <div fxFlex="20" class="box" fxFlex>9</div>
  <div fxFlex="20" class="box" fxFlex>10</div>
</div>