<div fxLayout="row wrap" style="border: 1px solid rgb(61, 61, 61);" fxLayoutAlign="center start">
  <div fxFlex="100px" class="box">1</div>
  <div fxFlex="100px" class="box">2</div>
  <div fxFlex="100px" class="box">3</div>
  <div fxFlex="100px" class="box">4</div>
  <div fxFlex="100px" class="box">5</div>
  <div fxFlex="100px" class="box">6</div>
  <div fxFlex="100px" class="box">7</div>
  <div fxFlex="100px" class="box">8</div>
  <div fxFlex="100px" class="box">9</div>
  <div fxFlex="100px" class="box">10</div>
</div>

<div class="glass-brown">
  <p>Hello world .....</p>
</div>